.contact-section {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-content: center;
    margin-bottom: 30px;
   }
   .left-section {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -10px;
   }
   
   a{
    text-decoration: none;
   }
   .right-section {
    width: 50%;
    height: 100%;
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
   
   }
   .right-section>p{
     color: #283338;;
     cursor: pointer;
   }
   .left-section>img{
     width: 400px;
     height: 220px;
     margin-top: -30px;
     cursor: pointer;
   }
   .right-section>button{
    height: 45px;
    width: 120px;
    font-size: 20px;
    color: #ff763f;
    border: 1px solid #ff763f;
    border-radius: 10px;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    margin-top: 18px;
    /* border: 2px solid green; */
   }
   
   
   .right-section>button:hover{
     background-color: rgb(248, 231, 231);
   }
   a:hover{
     color: #ff763f;
   }
   
   .mid{
     width: 100%;
     height: 520px;
     /* border: 1px solid blue; */
     display: flex;
     justify-content: space-around;
   }
   .mid>.left{
     width: 50%;
     height: 500px;
     /* border: 1px solid red; */
   }
   
   .mid>.left>h1{
        margin-bottom: 2%;
       font-size: 3em;
       line-height: 1.1em;
       font-weight: 700;
       font-family: 'Open Sans', sans-serif;
       color: #4f4e53;
       margin-left: 70px;
   
   }
   .mid>.left>h4{
       margin-top: 0px;
       margin-bottom: 0px;
       font-family: 'Open Sans', sans-serif;
       color: #4f4e53;
       font-size: 1.76em;
       line-height: 1.5em;
       font-weight: 400;
       margin-left: 70px;
   }
   .mid>.right{
     width: 50%;
     height: 500px;
     /* border: 1px solid yellow; */
   }
   .mid>.right>img{
     height: 100%;
     width: auto;
     
   }
   
   .mid>.left>button{
       display: flex;
       margin-top: 8%;
       margin-bottom: 4%;
       padding: 3% 10%;
       border-radius: 5px;
       background-color: #ff763f;
       font-family: 'Open Sans', sans-serif;
       color: #fff;
       font-size: 1.25em;
       line-height: 1.25em;
       font-weight: 600;
       letter-spacing: 0px;
       border: none;
       margin-left: 70px;
   
   }
   .mid>.left>button:hover{
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   .mid>.left>p{
     margin-left: 70px;
     font-family: 'Open Sans', sans-serif;
     font-size: 1.3em;
     line-height: 1.5em;
     font-weight: 400;
     color: grey;
   }
   
   /* middle poster section */
   
   .poster{
     width: 100%;
     height: 300px;
     /* border: 1px solid black; */
     align-content: center;
     text-align: center;
   }
   .brand{
     width: 100%;
     height: 100px;
     /* border: 2px solid rgb(0, 255, 85); */
     display: flex;
     margin-top: -15px;
     justify-content: space-evenly;
   }
   .brand :nth-child(1){
     width: 200px;
     height: 100px;
     /* border: #4f4e53; */
   }
   .brand :nth-child(2){
     width: 200px;
     height: 100px;
     /* border: #4f4e53; */
   }
   .brand :nth-child(3){
     width: 200px;
     height: 100px;
     /* border: #4f4e53; */
   }
   .icon{
     width: 100%;
     height: 100px;
     /* border: 2px solid rgb(0, 255, 85); */
     display: flex;
     justify-content: center;
     margin-top: -20px;
   }
   .icon :nth-child(1){
     width: 200px;
     height: 100px;
     /* border: #4f4e53; */
     margin-right: 10px;
   }
   .icon :nth-child(2){
     width: 200px;
     height: 100px;
     /* border: #4f4e53; */
     margin-left: 10px;
   }
   h5{
       font-family: 'Open Sans', sans-serif;
       color: #4f4e53;
       font-size: 1.41em;
       line-height: 1.5em;
       font-weight: 400;
       text-align: left;
       letter-spacing: normal;
       text-align: center;
       margin-top: -10px;
   }
   
   /* discover section */
   #discover{
     width: 100%;
     height: 700px;
     /* border: 1px solid red; */
     background-color: #f8f8f8;
   }
   
     h3{
       font-family: 'Open Sans', sans-serif;
       color: #4f4e53;
       font-size: 2.2em;
       line-height: 1.25em;
       font-weight: 700;
       text-align: center;
       margin-top: 80px;
       
   }
   h2{
     font-family: 'Open Sans', sans-serif;
       color: #4f4e53;
       font-size: 1.41em;
       line-height: 1.5em;
       font-weight: 400;
       text-align: left;
       letter-spacing: normal;
       text-transform: none;
       font-weight: 600;
       text-align: center;
   }
   p{
     margin-bottom: 0px;
       font-family: 'Open Sans', sans-serif;
       color: #404040;
       font-size: 1.125em;
       line-height: 1.5em;
   }
   
   .adv{
     margin: auto;
     width: 100%;
     height: 400px;
     /* border: 2px solid green; */
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     text-align: center;
     margin-top: -20px;
   }
   .adv1,.adv2,.adv3{
     width: 25%;
     height: 350px;
     /* border: 2px solid orange; */
     margin-top: 40px;
   }
   .adv>.adv1>img,.adv2>img,.adv3>img{
     width: 35%;
     height: 90px;
   }
   
   .healthy{
     width: 100%;
     height: 250px;
     /* border: 2px solid green; */
     margin-bottom: 20px;
   }
   
   
   /* develop healthy habits */
   .develop{
     /* border: 1px solid blue; */
     width: 90%;
     height: 600px;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-template-rows: auto;
     margin: auto;
     text-align: center;
     gap: 20px;
     
   
   }
   .develop>div{
     /* border: 2px solid red; */
     width: 320px;
     margin: auto;
     
   }
   
   .develop>div>img{
     width: 35%;
     height: 90px;
     margin-bottom: -15px;
   }
   /* ---------------------- */
   .signup{
    width: 100%;
    height: 250px;
    background-color: #f8f8f8 ;
       
  }
 
  .signup>button{
    display: flex;
    margin-top: 8%;
    margin-bottom: 4%;
    padding: 20px 50px;
    border-radius: 5px;
    background-color: #ff763f;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight: 600;
    letter-spacing: 0px;
    border: none;
    margin: auto;
  }